<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ if .IsHome }}
    <title>{{ .Site.Title }} - {{ .Site.Params.description }}</title>
    {{ else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ end }}

    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify | truncate 160 }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <meta property="og:title" content="{{ if .Params.og_title }}{{ .Params.og_title }}{{ else if .Title }}{{ .Title }}{{ else }}{{ $.Site.Params.opengraph.title }}{{ end }}" />
    <meta property="og:description" content="{{ if .Params.og_description }}{{ .Params.og_description }}{{ else if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ $.Site.Params.opengraph.description }}{{ end }}" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ with .Params.images }}
        <meta property="og:image" content="{{ index . 0 | absURL }}" />
    {{/* else if $.Site.Params.opengraph.image */}}
        <meta property="og:image" content="{{ $.Site.Params.opengraph.image | absURL }}" />
    {{ end }}
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <meta name="twitter:card" content="{{ $.Site.Params.twitter.card }}" />
    <meta name="twitter:site" content="{{ $.Site.Params.twitter.site }}" />
    <meta name="twitter:creator" content="{{ $.Site.Params.twitter.creator }}" />
    <meta name="twitter:title" content="{{ if .Params.twitter_title }}{{ .Params.twitter_title }}{{ else if .Title }}{{ .Title }}{{ else }}{{ $.Site.Params.twitter.title }}{{ end }}" />
    <meta name="twitter:description" content="{{ if .Params.twitter_description }}{{ .Params.twitter_description }}{{ else if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ $.Site.Params.twitter.description }}{{ end }}" />
    {{ with .Params.images }}
        <meta name="twitter:image" content="{{ index . 0 | absURL }}" />
    {{/* else if $.Site.Params.twitter.image */}}
        <meta name="twitter:image" content="{{ $.Site.Params.twitter.image | absURL }}" />
    {{ end }}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    {{ template "_internal/google_analytics.html" . }}
</head>